// Override Boostrap variables
// Import Bootstrap source files from node_modules
@import 'node_modules/bootstrap/scss/bootstrap';
body {
  background: #fafafa;
  margin: 0;
}

header {
  position: relative;
  width: 100%;
  height: 85px;
  padding: 0 1.25rem;
  margin-top: -1px;

  .logo {
    float: left;
    background-image: url("../content/images/ecLogo.png");
    background-size: cover;

    z-index: 1000;
    width: 230px;
    height: 60px;
    margin-top: 0.20rem;
    cursor: pointer;
  }

  h1 {
    color: #9e9e9e;
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-left: 1rem;
    float: left;

    &.short {
      display: none;
    }

    &.full {
      display: block;
    }
  }

  .right-content {
    float: right;
    margin-top: 1.5rem;
  }

  .color-primary {
    color: #004494 !important;
    font-weight: bold;
  }
}
/* jhipster-needle-scss-add-main JHipster will add new css style */
